<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.text_field :role, value: "User", hidden: true %>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

   <div class="actions mt-3">
      <div class="row">
        <div class="col">
          <%= link_to 'Cancel', :back, class: "btn btn-primary form-control btn-block" %> 
        </div>
        <div class="col">
          <%= submit_tag "Submit", class: "btn btn-primary form-control btn-block" %>
        </div>
        <% if user.id? %>
        <div class="col">
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary form-control btn-block" %> 
        </div>
        <% end %>
      </div>
    </div>
<% end %>
