<p id="notice"><%= notice %></p>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>

<h1 class="text-center m-2">Users</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 col-sm-12 mb-4">
      <%= link_to user, class: "text-decoration-none", style: "color: black;" do %>
        <div class="card">
          <div class="card-header">
            <%= user.name %>
          </div>
          <div class="card-body">
             <strong> Role: </strong> <%= user.role %><br>
              <strong> User Accounts: </strong><%= user.accounts.count %>
          </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col">
                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-primary form-control btn-block" %> 
              </div>
              <div class="col">
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-primary form-control btn-block" %> 
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
