<%= form_with(model: [@account, opportunity], local: true) do |form| %>
  <% if opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.05, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :stage %>
      <%= form.select :stage, Opportunity.stages.keys,
      id: :Opportunity_stage,
      prompt: '--Select a stage--', 
      class: "form-control" %>
  </div>
<% if @account.user_id == session[:user_id] %>
  <div class="actions">
     <div class="row">
      <div class="col">
        <%= link_to 'Cancel', @account, class: "btn btn-primary form-control btn-block" %> 
      </div>
      <div class="col">
        <%= submit_tag "Submit", class: "btn btn-primary form-control btn-block" %>
      </div>
      <% if opportunity.id? %>
      <div class="col">
         <%= link_to 'Delete', [@account, opportunity], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary form-control btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
