<%= form_with(model: [@account, opportunity], local: true) do |form| %>
  <% if opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.05, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :stage %>
    <%= form.select :stage, Opportunity.stages.keys, id: :Opportunity_stage,
    prompt: '--Select a stage--', class: "form-control" %>
  </div>

  <div class="actions">
     <%= submit_tag "Submit", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
