<p id="notice"><%= notice %></p>

<h1>Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Stage</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.amount %></td>
        <td><%= opportunity.stage %></td>
        <td><%= opportunity.account.name %></td>
        <td><%= link_to 'Show', [@account] %></td>
        <td><%= link_to 'Edit', edit_account_opportunity_path(@account, opportunity) %></td>
        <td><%= link_to 'Destroy', [@account, opportunity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Opportunity', new_account_opportunity_path(@account) %>
