<!DOCTYPE html>
<html>
  <head>
    <title>Opportunity Management System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <% if session[:user_id] %>
      <nav class="logged_in_nav">
        <ul>
          <li><%= link_to 'Accounts', accounts_path %></li>
          <li><%= link_to 'Opportunities', opportunities_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= button_to 'Logout', logout_path, method: :delete %></li>
        </ul>
      </nav>
    <% end %>
  </nav>
  <main class='<%= controller.controller_name %>'>
    <%= yield %>
  </main>
  </body>
</html>
