<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="actions mt-2">
    <div class="row">
      <div class="col">
        <%= link_to 'Cancel', accounts_path, class: "btn btn-secondary form-control btn-block" %> 
      </div>
      <div class="col">
        <%= submit_tag "Submit", class: "btn btn-primary form-control btn-block" %>
      </div>
      <% if @account.id? %>
      <div class="col">
         <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger form-control btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
